.container{
    display: flex;
    justify-content: center;
    width: 100vw;
}

.nose{
    padding-top: 150px;
    text-align: center;
    display: grid;
    /* place-items: center; */
}

.nose h1{
    color: #191E4C;
    margin: 15px;
}

.pc{
    display: flex;
    justify-content: center;
    margin: 30px;
    gap: 40px;
}


.pc img{
   height: 500px;
   object-fit: contain;
}

.pc h1{
    font-size: 25px;
}

.stars{
    font-size: 40px;
    align-self: flex-end;
    z-index: 0;
}

.infoProduct{
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 450px;
    /* border: 1px solid black; */
}

.infoProduct h2{
    align-self: flex-end;
}

.button{
    background-color: #191E4C;
    color: white;
    outline: none;
    transition: background 0.3s ease;
    border: none;
    /* align-self: center; */
}

.button:hover{
    background-color: #2C99E8;
}
.button:focus{
    outline: none;
}

.reviews{
    text-align: start;
    color: #191E4C;

}

.quantityManager{
    display: flex;
    justify-content: center;
    margin: 25px;
}

.quantityManager input{
    width: 45px;
    border: none;
    background-color: white;
    text-align: center;
}

.blackScreen {
    position: fixed;
    background-color: black;
    width: 100vw;
    height: 100vh;
    opacity: 50%;
    cursor: pointer;
    transition: color 0.3s ease;
}


@media screen and (max-width: 821px) {
    .pc{
        display: block;
    }
    .pc img{
        width: 300px;
    }

    .infoProduct{
        width: 90%;
    }
}