::-webkit-scrollbar{
    width: 0.5em;
}

::-webkit-scrollbar-track{
    width: 0.5em;
}

::-webkit-scrollbar-thumb{
    background: #3BB8C9;
    border-radius: 15px;
}



.container{
    padding: 0;
    display: flex;
    color: #1D0508;
    justify-content: start; 
}

.categories{
    position: fixed;
    height: 100vh;
    background-color: #dcdedc;
    left: 0;
    top: 0;
    z-index: 1;
    width: 300px;
    margin-right: 1px solid white;
    transition: all 0.4s ease;
    overflow-y: scroll; 

    /* @media screen and (max-height: 1232px) {
        overflow-y: scroll; 
    } */
}

.titleHolder{
    display: flex;
    background-color: #191E4C;
    justify-content: space-between;
    padding: 10px;
}

.titleHolder h3{
    margin-left: 10px;
    white-space: nowrap;
    color: #E3E3E5;
}

.classHolder{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    transition: background 0.4s ease;
    color: #191E4C;
}

.classHolder:hover{
    background-color: #2C99E8;
}

.blackScreen{
    position: fixed;
    background-color: black;
    width: 100vw;
    height: 100vh;
    opacity: 50%;
    cursor: pointer;
    transition: color 0.3s ease;
}